#https://vsupalov.com/docker-arg-env-variable-guide/
#https://medium.com/vteam/configure-docker-project-for-different-environments-using-docker-compose-3-bfbef37d951c
#https://medium.com/softonic-eng/docker-compose-from-development-to-production-88000124a57c
#https://stackoverflow.com/a/48651071
#https://github.com/docker/compose/issues/6170

# production, staging, develop, etc.
ENV=develop

#https://github.com/docker-library/mariadb/issues/160#issuecomment-531808461
MARIADB_GALERA_TAG=latest
MARIADB_GALERA_OS_NAME=minideb
MARIADB_GALERA_ROOT_USER=root
MARIADB_GALERA_ROOT_PASSWORD=changeme
# comma-separated list of databases
MARIADB_GALERA_DATABASES=db1
MARIADB_GALERA_CLUSTER_NAME=galera
MARIADB_GALERA_CLUSTER_ADDRESS=gcomm://mariadb-galera
MARIADB_GALERA_MARIABACKUP_USER=changeme
MARIADB_GALERA_MARIABACKUP_PASSWORD=changeme
MARIADB_GALERA_NAME=mariadb-galera
